# CinetPay Configuration
# Obtenez vos clés sur https://app.cinetpay.com
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_BASE_URL=https://api-checkout.cinetpay.com

# Application
APP_BASE_URL=http://localhost:3000

# Abonnement
SUBSCRIPTION_PRICE_XOF=3000
SUBSCRIPTION_PERIOD_DAYS=30
